#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}